<mat-card *ngIf="user">
  <div class="user_avatar">
    <img mat-card-avatar [src]="user.avatar" alt="{{user.first_name}}">
    <mat-card-title>{{user.first_name}} {{user.last_name}}</mat-card-title>
  </div>
  <mat-card-content>
    <p>ID: {{user.id}}</p>
    <p>Email: {{user.email}}</p>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
  </mat-card-content>
  <div class="w-100 d-flex justify-content-end">
    <button mat-button class="btn btn-primary" (click)="goBack()">Back to List</button>
  </div>
</mat-card>

